@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Engagement&family=Shrikhand&display=swap");
.clock-container {
  border: black 35px solid;
  width: 500px;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.clock {
  width: 200px;
  height: 200px;
  border: 8px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  position: relative;
  margin: 40px auto;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  background: #333;
  transform: rotate(0deg);
}

.hand.hour {
  height: 50px;
  width: 6px;
  background: #333;
}

.hand.minute {
  height: 70px;
  width: 4px;
  background: #666;
}

.hand.second {
  height: 90px;
  width: 2px;
  background: red;
}

.center {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #333;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.number {
  font-family: Shrikhand;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  /* font-weight: 900; */
  color: #000;
}

.tick {
  position: absolute;
  width: 4px;
  height: 30px;
  background: #000;
  transform-origin: center bottom;
}

.bottom-section {
  background-color: red;
  height: calc(100% / 4);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slop-text {
  color: white;
  font-family: "Engagement", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
}

.clock-header {
  font-family: Cormorant;
  font-weight: 1000px;
}
